= simple_form_for(@post, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.label "Category", id: "label"
    = f.select :category_id, @categories.map{ |c| [c.name, c.id] }
    .clear
    = f.label "Description", id: "label"
    = f.text_area :content, class: "textarea", placeholder: "Enter text ...."
    .clear
    .control-group
      = f.label :date
      .controls
        = f.text_field :date, class: "date", "data-behaviour" => "datepicker"

  .form-actions
    = f.button :submit, :class => 'btn-primary', value: "Submit"
