%h3 Posts
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Category
        %th Title
        %th Content
        %th.date_header Date
        %th
        %th
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.category.name if post.category
          %td= link_to post.title, post_path(post)
          %td= sanitize truncate(post.content, :ommision => "... Read More", :length => 100)
          %td= post.date
          - if current_user.has_role? :admin
            %td= link_to 'Show', post, class: "btn btn-mini"
            %td= link_to 'Edit', edit_post_path(post), class: "btn btn-mini"
            %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini"

%br
.span8
  - if current_user.has_role? :admin
    = link_to 'New Post', new_post_path