%p#notice= notice

%p
  %b Category:
  = @post.category.name if @post.category
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = sanitize @post.content

%p
  %b Date:
  = @post.date
- if current_user.has_role? :admin
  = link_to 'Edit', edit_post_path(@post)
  \|
= link_to 'Back', posts_path
