// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clear {
  clear: both;
  margin-bottom: 20px;
}
form {
  #post_title {
    width: 500px;
  }
  #label {
    margin-right: 20px;
  }
  .form-actions {
    background: none;
    border: none;
  }
}
th.date_header {
  width: 100px;
}